{% extends "base.html" %}

{%block content%}
<div class="container">
    
    <div class="row">
        {% for bike in bikes %}
        <a href="{% url 'single_bike' bike.id%}">
        <div class="col-md-4" style="margin-right:4px;">
          <div class="card mt-4" style="width: 18rem;">
              <img class="card-img-top" src="{{bike.bike_photo.url}}" alt="Card image cap">
              <div class="card-body">
                
                <a href="{% url 'bike'%}" class="btn btn-dark">Book</a>
                <a href="{% url 'rate_project' bike.id%}" class="btn btn-warning">rate</a>
              </div>
            </div>
        </div>
      </a>
          {%endfor%}
    </div>
    
</div>

{%endblock%}