{%extends "rate.html"%}


{% block content %}
<div class="containerElement">
<div class="vertical-center mt-2 mb-3" style="padding:23px">
      <form action="" method="POST" id="form">
        {% csrf_token %}
          <div class="input-field mt-2">
            
             <span style="font-weight:bolder">rate ride - {{ ratingform.rate_ride }}</span>
          </div>
          <div class="input-field mt-2">
             review - {{ ratingform.body }}
          </div>

          <button type="submit" class="btn btn-secondary mt-2 mb-2">Rate</i</button>
      </form>
</div>
</div>
{% endblock %}